## __1. Carga de dados__

#### __Descrição__
    
    
   - Os arquivos forão obtidos do INMET(Instituto Nacional de Meteorologia)
   - É possível fazer downloads de dados obtidos em diversas estações espalhadas pelo país
   - Foram escolhidas apenas os dados das cidades do estado da Paraíba disponíveis
   - Perírodo
       - 01/01/2008 - 31/12/2018
   - Medições 
       - Temperatura de Bulbo Seco
       - Temperautra de Bulbo Úmido
       - Umidade
       - Pressão Atmosférica
       - Direção do Vento
       - Velocidade do vento
       - Nebulosidade
   - Nomes dos arquivos
        - Os dados estão salvos em formato csv
        - O nome do arquivo é composto pelo nome da cidade junto ao sufixo _clima, além da extensão
        - Para as cidades com nomes compostos, o espaço entre os nomes é ignorado

#### João Pessoa

In [2]:
# Carregando bibliotecas

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df_jp = pd.read_csv("../dados/JoaoPessoa_clima.csv", sep = ";")

In [4]:
df_jp.head()

,Estacao,Data,Hora,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade,Unnamed: 10
0,82798,01/01/2008,0,26.8,22.6,68.0,1012.1,14.0,3.3,3.0,NaN
1,82798,01/01/2008,1200,29.4,23.3,58.0,1012.7,14.0,3.5,4.0,NaN
2,82798,01/01/2008,1800,29.6,23.5,59.0,1011.2,14.0,3.3,3.0,NaN
3,82798,02/01/2008,0,26.6,22.2,69.0,1012.8,14.0,2.6,4.0,NaN
4,82798,02/01/2008,1200,29.8,23.9,61.0,1013.3,14.0,3.3,3.0,NaN

- A coluna Estacao pode ser descartada
- A última coluna deve ser descartada.
- As colunas Data e Hora podem ser combinadas em uma só coluna do tipo datetime
- A coluna DireçãoVento, apesar de represntada por valores numéricos, é categórica

In [6]:
col = df_jp.columns

In [7]:
df_jp.drop(columns=[col[0],col[-1]], inplace = True)

In [8]:
df_jp['DirecaoVento'] = df_jp['DirecaoVento'].astype('category')
df_jp.dtypes

Data                   object
Hora                    int64
TempBulboSeco         float64
TempBulboUmido        float64
UmidadeRelativa       float64
PressaoAtmEstacao     float64
DirecaoVento         category
VelocidadeVento       float64
Nebulosidade          float64
dtype: object

In [9]:
df_jp.head()

,Data,Hora,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
0,01/01/2008,0,26.8,22.6,68.0,1012.1,14.0,3.3,3.0
1,01/01/2008,1200,29.4,23.3,58.0,1012.7,14.0,3.5,4.0
2,01/01/2008,1800,29.6,23.5,59.0,1011.2,14.0,3.3,3.0
3,02/01/2008,0,26.6,22.2,69.0,1012.8,14.0,2.6,4.0
4,02/01/2008,1200,29.8,23.9,61.0,1013.3,14.0,3.3,3.0

In [10]:
df_jp['Horarios'] = df_jp['Data']+ ' '+df_jp['Hora'].astype('str')

In [23]:
df_jp = pd.read_csv("../dados/JoaoPessoa_clima.csv", 
                    delimiter = ";",
                    usecols=list(range(1,10)),
                    dtype={'Hora':'str', 'DirecaoVento':'str'},
                    parse_dates=[['Data', 'Hora']]
                   )

In [24]:
df_jp.dtypes

Data_Hora            datetime64[ns]
TempBulboSeco               float64
TempBulboUmido              float64
UmidadeRelativa             float64
PressaoAtmEstacao           float64
DirecaoVento                 object
VelocidadeVento             float64
Nebulosidade                float64
dtype: object

In [25]:
df_jp.head()

,Data_Hora,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
0,2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
1,2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2,2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
3,2008-02-01 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
4,2008-02-01 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0

In [28]:
df_jp.columns

Index(['Data_Hora', 'TempBulboSeco', 'TempBulboUmido', 'UmidadeRelativa',
       'PressaoAtmEstacao', 'DirecaoVento', 'VelocidadeVento', 'Nebulosidade'],
      dtype='object')

In [30]:
df_jp.rename(columns={'Data_Hora':'Horario'}, inplace=True)
df_jp.head()

,Horario,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
0,2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
1,2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2,2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
3,2008-02-01 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
4,2008-02-01 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0

In [32]:
df_jp.set_index('Horario', inplace=True)
df_jp.head()

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.3,3.0
2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.5,4.0
2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.3,3.0
2008-02-01 00:00:00,26.6,22.2,69.0,1012.8,14,2.6,4.0
2008-02-01 12:00:00,29.8,23.9,61.0,1013.3,14,3.3,3.0

In [52]:
def carrega_csv(arquivo):
    
    if "_clima" in arquivo:
        df = pd.read_csv(arquivo,
                    delimiter = ";",
                    usecols=list(range(1,10)),
                    dtype={'Hora':'str', 'DirecaoVento':'str'},
                    parse_dates=[['Data', 'Hora']]
                   )
        df.rename(columns={'Data_Hora':'Horario'}, inplace=True)
        df.set_index('Horario', inplace=True)
    else :
        try:
            df = pd.read_csv(arquivo,
                            sep=";" 
                            )
        except:
            raise Exception("Arquivo não existe")
                
    return df

In [54]:
carrega_csv("../dados/Info.csv")

           Cidade  Latitude  Longitude  Altitude
0           Areia     -6.97     -35.68    574.62
1  Campina-Grande     -7.22     -35.88    547.56
2     Joao-Pessoa     -7.10     -34.86      7.43
3        Monteiro     -7.88     -37.06    603.66
4           Patos     -7.01     -37.26    249.09
5      SaoGoncalo     -6.75     -38.21    233.06

In [42]:
carrega_csv("../dados/JoaoPessoa_clima.csv")

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,26.8,22.6,68.0,1012.1,14,3.30000,3.0
2008-01-01 12:00:00,29.4,23.3,58.0,1012.7,14,3.50000,4.0
2008-01-01 18:00:00,29.6,23.5,59.0,1011.2,14,3.30000,3.0
2008-02-01 00:00:00,26.6,22.2,69.0,1012.8,14,2.60000,4.0
2008-02-01 12:00:00,29.8,23.9,61.0,1013.3,14,3.30000,3.0
...,...,...,...,...,...,...,...
2018-12-30 12:00:00,30.8,NaN,57.0,1012.7,14,1.54332,5.0
2018-12-30 18:00:00,NaN,NaN,59.0,1010.3,9,3.08664,5.0
2018-12-31 00:00:00,27.8,NaN,79.0,1013.4,14,3.08664,5.0
2018-12-31 12:00:00,30.2,NaN,73.0,1013.0,14,2.05776,7.5
2018-12-31 18:00:00,NaN,NaN,68.0,1011.0,14,2.05776,2.5

In [44]:
carrega_csv("../dados/Areia_clima.csv")

,TempBulboSeco,TempBulboUmido,UmidadeRelativa,PressaoAtmEstacao,DirecaoVento,VelocidadeVento,Nebulosidade
Horario,,,,,,,
2008-01-01 00:00:00,21.4,19.4,82,947.2,14,3.30000,0.00
2008-01-01 12:00:00,23.4,22.2,91,947.8,14,2.50000,8.00
2008-01-01 18:00:00,28.4,22.8,63,945.4,14,4.10000,5.00
2008-02-01 00:00:00,21.2,19.8,88,947.7,14,1.60000,8.00
2008-02-01 12:00:00,24.2,21.2,76,948.4,14,1.60000,7.00
...,...,...,...,...,...,...,...
2018-12-30 12:00:00,25.0,NaN,72,948.1,14,2.05776,2.50
2018-12-30 18:00:00,31.2,NaN,48,944.8,9,2.05776,3.75
2018-12-31 00:00:00,22.8,NaN,88,948.1,14,3.60108,10.00
2018-12-31 12:00:00,25.2,NaN,76,948.0,14,1.02888,8.75
2018-12-31 18:00:00,30.2,NaN,48,945.4,14,3.60108,3.75

In [45]:
from os import listdir

In [46]:
listdir('../dados')

['Info.csv',
 'Monteiro_clima.csv',
 'SaoGoncalo_clima.csv',
 'Areia_clima.csv',
 'CampinaGrande_clima.csv',
 'DirecaoVento.csv',
 'README.md',
 'Patos_clima.csv',
 '.ipynb_checkpoints',
 'JoaoPessoa_clima.csv']

In [47]:
import os

In [70]:
path = '../dados'
arquivos = os.listdir(path)


[carrega_csv(path+'/'+arq).head() for arq in arquivos if ".csv" in arq]

[           Cidade  Latitude  Longitude  Altitude
 0           Areia     -6.97     -35.68    574.62
 1  Campina-Grande     -7.22     -35.88    547.56
 2     Joao-Pessoa     -7.10     -34.86      7.43
 3        Monteiro     -7.88     -37.06    603.66
 4           Patos     -7.01     -37.26    249.09,
                      TempBulboSeco  TempBulboUmido  UmidadeRelativa  \
 Horario
 2008-01-01 00:00:00           25.3            20.6             66.0
 2008-01-01 12:00:00           25.4            20.2             63.0
 2008-01-01 18:00:00           33.0            21.2             35.0
 2008-02-01 00:00:00           25.8            19.4             55.0
 2008-02-01 12:00:00           26.2            19.2             51.0

                      PressaoAtmEstacao DirecaoVento  VelocidadeVento  \
 Horario
 2008-01-01 00:00:00              943.6           14              4.6
 2008-01-01 12:00:00              945.3           14              3.0
 2008-01-01 18:00:00              940.9           14              3.8
 2008-02-01 00:00:00              943.5           14              3.8
 2008-02-01 12:00:00              945.7           14              4.8

                      Nebulosidade
 Horario
 2008-01-01 00:00:00           0.0
 2008-01-01 12:00:00           3.0
 2008-01-01 18:00:00           7.0
 2008-02-01 00:00:00           0.0
 2008-02-01 12:00:00           3.0  ,
                      TempBulboSeco  TempBulboUmido  UmidadeRelativa  \
 Horario
 2008-01-01 00:00:00           25.2            24.4             93.0
 2008-01-01 12:00:00           28.4            21.6             55.0
 2008-02-01 00:00:00           25.8            24.0             85.0
 2008-02-01 12:00:00           28.2            21.0             52.0
 2008-03-01 00:00:00           28.0            21.6             56.0

                      PressaoAtmEstacao DirecaoVento  VelocidadeVento  \
 Horario
 2008-01-01 00:00:00              982.5            9              0.7
 2008-01-01 12:00:00              986.0           14              2.3
 2008-02-01 00:00:00              982.2            0              0.0
 2008-02-01 12:00:00              987.0            9              3.9
 2008-03-01 00:00:00              983.0           32              2.3

                      Nebulosidade
 Horario
 2008-01-01 00:00:00           0.0
 2008-01-01 12:00:00           8.0
 2008-02-01 00:00:00           4.0
 2008-02-01 12:00:00           3.0
 2008-03-01 00:00:00           8.0  ,
                      TempBulboSeco  TempBulboUmido  UmidadeRelativa  \
 Horario
 2008-01-01 00:00:00           21.4            19.4               82
 2008-01-01 12:00:00           23.4            22.2               91
 2008-01-01 18:00:00           28.4            22.8               63
 2008-02-01 00:00:00           21.2            19.8               88
 2008-02-01 12:00:00           24.2            21.2               76

                      PressaoAtmEstacao DirecaoVento  VelocidadeVento  \
 Horario
 2008-01-01 00:00:00              947.2           14              3.3
 2008-01-01 12:00:00              947.8           14              2.5
 2008-01-01 18:00:00              945.4           14              4.1
 2008-02-01 00:00:00              947.7           14              1.6
 2008-02-01 12:00:00              948.4           14              1.6

                      Nebulosidade
 Horario
 2008-01-01 00:00:00           0.0
 2008-01-01 12:00:00           8.0
 2008-01-01 18:00:00           5.0
 2008-02-01 00:00:00           8.0
 2008-02-01 12:00:00           7.0  ,
                      TempBulboSeco  TempBulboUmido  UmidadeRelativa  \
 Horario
 2008-01-01 00:00:00           23.2            20.6             79.0
 2008-01-01 12:00:00           24.4            20.2             69.0
 2008-01-01 18:00:00           30.2            21.1             44.0
 2008-02-01 00:00:00           23.5            20.9             80.0
 2008-02-01 12:00:00           24.5            21.0             74.0

                      PressaoAtmEstacao DirecaoVento  VelocidadeVento  \
 Horario
 2008-01-01 00:00:00              951.2            9              4.5
 2008-01-01 12:00:00              952.9           14              4.5
 2008-01-01 18:00:00              949.3           14              3.8
 2008-02-01 00:00:00              951.4            9              5.0
 2008-02-01 12:00:00              952.3           14              2.5

                      Nebulosidade
 Horario
 2008-01-01 00:00:00           4.0
 2008-01-01 12:00:00           5.0
 2008-01-01 18:00:00           6.0
 2008-02-01 00:00:00           0.0
 2008-02-01 12:00:00           4.0  ,
                      TempBulboSeco  TempBulboUmido  UmidadeRelativa  \
 Horario
 2008-01-01 00:00:00           29.8            22.8             55.0
 2008-01-01 12:00:00           27.2            21.4             60.0
 2008-02-01 00:00:00           29.9            21.9             50.0
 2008-02-01 12:00:00           26.3            21.0             62.0
 2008-03-01 00:00:00           30.0            22.6             54.0

                      PressaoAtmEstacao DirecaoVento  VelocidadeVento  \
 Horario
 2008-01-01 00:00:00              980.6            9              7.0
 2008-01-01 12:00:00              984.1           14              2.5
 2008-02-01 00:00:00              981.6            9              5.5
 2008-02-01 12:00:00              984.9            9              3.3
 2008-03-01 00:00:00              982.5            9              6.6

                      Nebulosidade
 Horario
 2008-01-01 00:00:00           4.0
 2008-01-01 12:00:00           6.0
 2008-02-01 00:00:00           0.0
 2008-02-01 12:00:00           6.0
 2008-03-01 00:00:00           0.0  ,
                      TempBulboSeco  TempBulboUmido  UmidadeRelativa  \
 Horario
 2008-01-01 00:00:00           26.8            22.6             68.0
 2008-01-01 12:00:00           29.4            23.3             58.0
 2008-01-01 18:00:00           29.6            23.5             59.0
 2008-02-01 00:00:00           26.6            22.2             69.0
 2008-02-01 12:00:00           29.8            23.9             61.0

                      PressaoAtmEstacao DirecaoVento  VelocidadeVento  \
 Horario
 2008-01-01 00:00:00             1012.1           14              3.3
 2008-01-01 12:00:00             1012.7           14              3.5
 2008-01-01 18:00:00             1011.2           14              3.3
 2008-02-01 00:00:00             1012.8           14              2.6
 2008-02-01 12:00:00             1013.3           14              3.3

                      Nebulosidade
 Horario
 2008-01-01 00:00:00           3.0
 2008-01-01 12:00:00           4.0
 2008-01-01 18:00:00           3.0
 2008-02-01 00:00:00           4.0
 2008-02-01 12:00:00           3.0  ]